<div class="bgback"></div>
<!-- Animated Sparkles -->
<div class="th-sparkles"></div>
<!--/ Animated Sparkles -->
<!-- Media container element + content section with custom white background color and custom paddings -->
<section id="about" class="hg_section bg-white ptop-100 pbottom-100">
	<div class="full_width">
		<div class="row gutter-lg">
			<div class="col-md-5 col-sm-12">
				<!-- Media container style 2 element - with custom height(.h-520) -->
				<div class="media-container style2 h-520">
					<!-- Background source -->
					<div class="kl-bg-source">
						<!-- Background image -->
						<div class="kl-bg-source__bgimage" style="background-image:url(images/_niches/restaurant/home-brochure.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:top; background-size:cover">
						</div>
						<!--/ Background image -->

						<!-- Gradient overlay -->
						<div class="kl-bg-source__overlay" style="background:rgba(137,173,178,0.3); background: -moz-linear-gradient(left, rgba(137,173,178,0.3) 0%, rgba(53,53,53,0.65) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(137,173,178,0.3)), color-stop(100%,rgba(53,53,53,0.65))); background: -webkit-linear-gradient(left, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); background: -o-linear-gradient(left, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); background: -ms-linear-gradient(left, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); background: linear-gradient(to right, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); ">
						</div>
						<!--/ Gradient overlay -->
					</div>
					<!--/ Background source -->

					<!-- media container link button -->
					<a class="media-container__link media-container__link--btn media-container__link--style-borderanim2 " href="https://www.youtube.com/watch?v=cVt-3vbENOQ" data-lightbox="iframe">
						<!-- SVG border -->
						<div class="borderanim2-svg">
							<!-- svg -->
							<svg height="70" width="400" xmlns="http://www.w3.org/2000/svg">
								<rect class="borderanim2-svg__shape" height="70" width="400"></rect>
							</svg>
							<!--/ svg -->

							<!-- Button text -->
							<span class="media-container__text">Chef Foagra</span>
						</div>
						<!--/ SVG border -->
					</a>
					<!--/ media container link button -->
				</div>
				<!--/ Media container style 2 element - with custom height(.h-520) -->
			</div>
			<!--/ col-md-5 col-sm-12 -->

			<div class="col-md-7 col-sm-12">
				<div class="row hg_col_eq_last">
					<div class="col-md-12 col-sm-12">
						<!-- Title element with custom bottom padding -->
						<div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title pbottom-0">
							<!-- Title with custom montserrat font, size, line height and thin style -->
							<h3 class="tbk__title montserrat fs-38 lh-46 fw-thin">About</h3>

							<!-- Title symbol -->
							<span class="tbk__symbol ">
								<span></span>
							</span>
							<!--/ Title symbol -->

							<!-- Sub-title with custom font size, line height and very thin style -->
							<h4 class="tbk__subtitle fs-18 lh-32 fw-vthin">Our Chefs offer you perfect cooking, best served dishes with fresh ingredients and old recipes. We provide you with daily self-made bread, sourdough pizza, roasted fish-meat-vegetables and many more.</h4>
						</div>
						<!--/ Title element with custom bottom padding -->

						<!-- Separator style 2 -->
						<div class="hg_separator style2 clearfix">
						</div>
						<!--/ Separator style 2 -->
					</div>
					<!--/ col-md-12 col-sm-12 -->

					<div class="col-md-8 col-sm-8">
						<!-- Text box element -->
						<div class="text_box">
							<p>
								Credibly build out-of-the-box functionalities before strategic expertise. Competently reconceptualize resource maximizing relationships via business synergy.
							</p>
							<p>
								Initiate user friendly content with low-risk high-yield human capital.&nbsp;Compellingly redefine 2.0 services via fully tested experiences. Monotonectally plagiarize market-driven alignments for team building.
							</p>
						</div>
						<!--/ Text box element -->
					</div>
					<!--/ col-md-8 col-sm-8 -->

					<div class="col-md-4 col-sm-4">
						<!-- Video box pop-up (adbox) element -->
						<div class="adbox video">
							<!-- Background image -->
							<img src="{{$ctrl.popupimage}}" alt="Restaurant" title="Restaurant" />

							<!-- Video trigger wrapper -->
							<div class="video_trigger_wrapper">
								<!-- Video box container -->
								<div class="adbox_container">
									<!-- Video link -->
									<a href="https://www.youtube.com/watch?v=cVt-3vbENOQ" class="playVideo" data-lightbox="iframe" title="Restaurant"></a>
								</div>
								<!--/ Video box container -->
							</div>
							<!--/ Video trigger wrapper -->
						</div>
						<!--/ Video box pop-up (adbox) element -->
					</div>
					<!--/ col-md-4 col-sm-4 -->
				</div>
				<!--/ row hg_col_eq_last -->
			</div>
			<!--/ col-md-7 col-sm-12 -->
		</div>
		<!--/ row gutter-lg -->
	</div>
	<!--/ full_width -->
</section>
<!--/ Media container element + content section with custom white background color and custom paddings -->

<!-- Icon box element - restaurant services section full width -->
<section id="services" class="hg_section restaurant-services">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<!-- Title element with custom bottom padding -->
				<div class="kl-title-block clearfix text-center tbk-symbol-- tbk-icon-pos--after-title pbottom-50">
					<!-- Title with custom montserrat font, size, line height, black and thin style -->
					<h3 class="tbk__title montserrat fs-44 lh-44 black fw-thin">Best service ever</h3>

					<!-- Sub-title with custom font size and very thin style -->
					<h4 class="tbk__subtitle fs-18 fw-vthin">Our 3 Michelin Stars ensure that your experience regarding our cousine will be one that you will not forget.</h4>

					<span>✫✫✫</span>
				</div>
				<!--/ Title element with custom bottom padding -->
			</div>
			<!--/ col-md-12 col-sm-12 -->
		</div>
		<!--/ row -->
	</div>
	<!--/ container -->

	<div class="full_width">
		<div class="row">
			<div class="col-sm-offset-1 col-md-10 col-sm-10">
				<div class="row gutter-md">
					<div class="col-md-4 col-sm-4">
						<!-- Icon box element - center aligned -->
						<div class="kl-iconbox kl-iconbox--fleft text-center">
							<div class="kl-iconbox__inner">
								<!-- Icon/Image wrapper -->
								<div class="kl-iconbox__icon-wrapper">
									<!-- Image -->
									<img src="{{$ctrl.serviceimages.img1}}" class="kl-iconbox__icon" alt="Iconic Awarded Design" title="Iconic Awarded Design" />
								</div>
								<!--/ .kl-iconbox__icon-wrapper -->

								<!-- Content wrapper -->
								<div class="kl-iconbox__content-wrapper">
									<!-- Title wrapper -->
									<div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
										<!-- Title with custom font size, line height, black color and nowmal style -->
										<h3 class="kl-iconbox__title fs-22 lh-30 black fw-normal">Birthdays</h3>
									</div>
									<!--/ Title wrapper -->

									<!-- Description -->
									<div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
										<!-- Paragraph with custom font size and black color -->
										<p class="kl-iconbox__desc fs-14 black">
											Book a table for two with the best Italian dishes served for the anniversary. Or serve a bigger one for a huge family to get together one sunny day. Gather your friends together.
										</p>
									</div>
									<!--/ Description -->
								</div>
								<!--/ .kl-iconbox__content-wrapper -->
							</div>
							<!--/ .kl-iconbox__inner -->
						</div>
						<!--/ Icon box element - center aligned -->
					</div>
					<!--/ col-md-4 col-sm-4 -->

					<div class="col-md-4 col-sm-4">
						<!-- Icon box element - center aligned -->
						<div class="kl-iconbox kl-iconbox--fleft text-center">
							<div class="kl-iconbox__inner">
								<!-- Icon/Image wrapper -->
								<div class="kl-iconbox__icon-wrapper">
									<!-- Image -->
									<img src="{{$ctrl.serviceimages.img2}}" class="kl-iconbox__icon" alt="Iconic Awarded Design" title="Iconic Awarded Design" />
								</div>
								<!--/ .kl-iconbox__icon-wrapper -->

								<!-- Content wrapper -->
								<div class="kl-iconbox__content-wrapper">
									<!-- Title wrapper -->
									<div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
										<!-- Title with custom font size, line height, black color and nowmal style -->
										<h3 class="kl-iconbox__title fs-22 lh-30 black fw-normal">Party</h3>
									</div>
									<!--/ Title wrapper -->

									<!-- Description -->
									<div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
										<!-- Paragraph with custom font size and black color -->
										<p class="kl-iconbox__desc fs-14 black">
											Organize a party for a huge company and have fun in the restaurant. Show your friends the real world of European cuisine and especially Italian vibes.
										</p>
									</div>
									<!--/ Description -->
								</div>
								<!--/ .kl-iconbox__content-wrapper -->
							</div>
							<!--/ .kl-iconbox__inner -->
						</div>
						<!--/ Icon box element - center aligned -->
					</div>
					<!--/ col-md-4 col-sm-4 -->

					<div class="col-md-4 col-sm-4">
						<!-- Icon box element - center aligned -->
						<div class="kl-iconbox kl-iconbox--fleft text-center">
							<div class="kl-iconbox__inner">
								<!-- Icon/Image wrapper -->
								<div class="kl-iconbox__icon-wrapper">
									<!-- Image -->
									<img src="{{$ctrl.serviceimages.img3}}" class="kl-iconbox__icon" alt="Iconic Awarded Design" title="Iconic Awarded Design" />
								</div>
								<!--/ .kl-iconbox__icon-wrapper -->

								<!-- Content wrapper -->
								<div class="kl-iconbox__content-wrapper">
									<!-- Title wrapper -->
									<div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
										<!-- Title with custom font size, line height, black color and nowmal style -->
										<h3 class="kl-iconbox__title fs-22 lh-30 black fw-normal">Weddings</h3>
									</div>
									<!--/ Title wrapper -->

									<!-- Description -->
									<div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
										<!-- Paragraph with custom font size and black color -->
										<p class="kl-iconbox__desc fs-14 black">
											75 seats for 75 guests are all at your disposal. Organize a party for a huge company and have fun in the restaurant. Show your friends the real world of European cuisine and especially Italian vibes.
										</p>
									</div>
									<!--/ Description -->
								</div>
								<!--/ .kl-iconbox__content-wrapper -->
							</div>
							<!--/ .kl-iconbox__inner -->
						</div>
						<!--/ Icon box element - center aligned -->
					</div>
					<!--/ col-md-4 col-sm-4 -->
				</div>
				<!--/ row gutter-md -->
			</div>
			<!--/ col-sm-offset-1 col-md-10 col-sm-10 -->
		</div>
		<!--/ row -->
		<!--/ full_width -->
	</div>
</section>
<!--/ Icon box element - restaurant services section full width -->


		<!-- Media container style 2 element - section full width and custom paddings -->
		<section id="menu" class="hg_section p-0">
			<div class="full_width">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<!-- Media container style 2 element - with custom height(.h-600) -->
						<div class="media-container style2 h-600">
							<!-- Background source -->
							<div class="kl-bg-source">
								<!-- Background image -->
								<div class="kl-bg-source__bgimage" style="background-image:url(images/_niches/restaurant/bg.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:top; background-size:cover">
								</div>
								<!--/ Background image -->
							</div>
							<!--/ Background source -->

							<!-- Title element -->
							<div class="kl-title-block clearfix text-center tbk-symbol--line tbk-icon-pos--after-title">
								<!-- Title -->
								<h3 class="tbk__title">Today's Speciality</h3>

								<!-- Sub-title -->
								<h4 class="tbk__subtitle">Lobster</h4>

								<!-- Button element -->
								<div class="text-center">
									<!-- Buton lined medium -->
									<a href="#" class="btn-element btn btn-lined btn-md" title="Menu" >
										<span>7 Day's Menu</span>
									</a>
								</div>
								<!--/ Button element -->
							</div>
							<!--/ Title element -->
						</div>
						<!--/ Media container style 2 element - with custom height(.h-600) -->
					</div>
					<!--/ col-md-12 col-sm-12 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ full_width -->
		</section>


		<!-- Photo gallery section with custom paddings -->
		<section class="hg_section pt-80 pb-100" style="background-color: rgb(229, 227, 223);">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<!-- Title element -->
						<div class="kl-title-block clearfix text-center tbk-symbol--line tbk-icon-pos--after-title">
							<!-- Title -->
							<h3 class="tbk__title fw-bold">Team building creative activities</h3>
							<!--/ Title -->

							<!-- Sub-title -->
							<h6 class="fs-s gray">That we really, really appreciate!</h6>

							<!-- Title bottom symbol -->
							<div class="tbk__symbol ">
								<span class="tbg"></span>
							</div>
							<!--/ Title bottom symbol -->
						</div>
						<!--/ Title element -->

						<!-- Photo Gallery alternative -->
						<div class="photogallery-widget">
							<!-- Photo gallery wrapper -->
							<div class="photogallery-wrapper clearfix">
								<div class="caroufredsel custom stg-slimmer-arrows">
									<ul class="slides">
                    <li ng-repeat="image in $ctrl.images" data-thumb="{{image.src}}">
                      <img src="{{image.src}}" alt="" class="img-responsive">
											<h4 class="pg-caption" ng-bind-html="image.caption | to_trusted">
											</h4>
                    </li>
									</ul>
									<div class="cfs--navigation">
										<a href="#" class="cfs--prev"></a>
										<a href="#" class="cfs--next"></a>
									</div>
									<div class="cfs-counter"></div>
								</div>
							</div>
							<!--/ Photo gallery wrapper -->
						</div>
						<!--/ Photo Gallery alternative -->
					</div>
					<!--/ col-md-12 col-sm-12 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</section>
		<!--/ Photo gallery section with custom paddings -->

    <!-- ToTop trigger -->
    <a href="#" id="totop">TOP</a>
    <!--/ ToTop trigger -->
