
		<!-- Footer - One Page style -->
		<footer id="footer" class="one-page-footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-offset-2 col-md-8 col-sm-8">
						<!-- Title element -->
						<div class="kl-title-block clearfix text-center">
							<!-- Title with montserrat font, custom size, white and bold style -->
							<h3 class="tbk__title montserrat fs-28 fw-bold white">STAY TUNED!</h3>

							<!-- Sub-title with custom font size, white and thin style -->
							<h4 class="tbk__subtitle fs-16 fw-thin white">
								We’ll do our best to deliver valuable updates and lots of great resources without invading your mailbox.
							</h4>
						</div>
						<!--/ Title element -->

						<!-- Newsletter Mailchimp -->
						<div class="newsletter-signup">
							<form action="http://YOUR_USERNAME.DATASERVER.list-manage.com/subscribe/post-json?u=YOUR_API_KEY&amp;id=LIST_ID&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
								<input type="email" value="" name="EMAIL" class="nl-email form-control" id="mce-EMAIL" placeholder="your.address@email.com" required="">
		                        <input type="submit" name="subscribe" class="nl-submit" id="mc-embedded-subscribe" value="JOIN US">
		                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		                        <div style="position: absolute; left: -5000px;">
		                            <input type="text" name="b_xxxxxxxxxxxxxxxxxxxCUSTOMxxxxxxxxx" value="">
		                        </div>
							</form>
						</div>
						<!--/ Newsletter Mailchimp -->

						<!-- Social icons colored background, aligned center and rounded style -->
						<div class="elm-socialicons text-center ">
							<ul class="elm-social-icons sc--colored sh--rounded clearfix">
								<li>
									<a href="#" target="_self" class="elm-sc-icon icon-facebook icon-bg" title="Facebook"></a>
								</li>
								<li>
									<a href="#" target="_blank" class="elm-sc-icon icon-twitter icon-bg" title="Twitter"></a>
								</li>
								<li>
									<a href="#" target="_blank" class="elm-sc-icon icon-dribbble icon-bg" title="Dribbble"></a>
								</li>
								<li>
									<a href="#" target="_blank" class="elm-sc-icon icon-pinterest icon-bg" title="Pinterest"></a>
								</li>
								<li>
									<a href="#" target="_blank" class="elm-sc-icon icon-linkedin icon-bg" title="LinkedIn"></a>
								</li>
							</ul>
						</div>
						<!--/ Social icons colored background, aligned center and rounded style -->
					</div>
					<!--/ col-sm-offset-2 col-md-8 col-sm-8 -->
				</div>
				<!--/ row -->

				<div class="row">
					<div class="col-sm-12">
						<div class="bottom clearfix">
							<!-- Bottom right side -->
							<div class="pull-right">
								<!-- Footer menu -->
								<ul class="topnav footer_nav">
									<li class="menu-item">
										<a href="#">DISCLAIMER</a>
									</li>
									<li class="menu-item">
										<a href="#">SUPPORT POLICY</a>
									</li>
									<li class="menu-item">
										<a href="#">LEGAL</a>
									</li>
								</ul>
								<!--/ Footer menu -->
							</div>
							<!--/ Bottom right side -->

							<!-- Copyright -->
							<div class="copyright">
								<!-- Logo home link -->
								<a href="index.html">
									<!-- Logo image -->
									<!-- <img src="images/kallyas-footerlogo.svg" width="115" height="37" alt="Kallyas" title="Kallyas" /> -->
								</a>

								<!-- Copyright text -->
								<p>© 2017 All rights reserved. Buy <a href="http://themeforest.net/item/kallyas-gigantic-premium-template/3583938">Kallyas Gigantic Template</a>.</p>
							</div>
							<!-- Copyright -->
						</div>
						<!--/ bottom -->
					</div>
					<!--/ col-sm-12 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</footer>
		<!--/ Footer - One Page style -->
