
	<!-- Support Panel -->
	<input type="checkbox" id="support_p" class="panel-checkbox">
	<div class="support_panel">
		<div class="support-close-inner">
			<label for="support_p" class="spanel-label inner">
				<span class="support-panel-close">×</span>
			</label>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<!-- Title -->
					<h4 class="m_title">HOW TO SHOP</h4>

					<!-- Content - how to shop steps -->
					<div class="m_content how_to_shop">
						<div class="row">
							<div class="col-sm-4">
								<span class="number">1</span> Login or create new account.
							</div>
							<!--/ col-sm-4 -->

							<div class="col-sm-4">
								<span class="number">2</span> Review your order.
							</div>
							<!--/ col-sm-4 -->

							<div class="col-sm-4">
								<span class="number">3</span> Payment &amp; <strong>FREE</strong> shipment
							</div>
							<!--/ col-sm-4 -->
						</div>
						<!--/ row -->

						<p>If you still have problems, please let us know, by sending an email to support@website.com . Thank you!</p>
					</div>
					<!--/ Content - how to shop steps -->
				</div>
				<!--/ col-sm-9 -->

				<div class="col-sm-3">
					<!-- Title -->
					<h4 class="m_title">SHOWROOM HOURS</h4>

					<!-- Content -->
					<div class="m_content">
						Mon-Fri 9:00AM - 6:00AM<br>
						Sat - 9:00AM-5:00PM<br>
						Sundays by appointment only!
					</div>
					<!--/ Content -->
				</div>
				<!--/ col-sm-3 -->
			</div>
			<!--/ row -->
		</div>
		<!--/ container -->
	</div>
	<!--/ Support Panel -->

<!-- Header style 1 -->
<header id="header" class="site-header style1 cta_button">
  <!-- header bg -->
  <div class="kl-header-bg"></div>
  <!--/ header bg -->

  <!-- siteheader-container -->
  <div class="container siteheader-container">
    <!-- responsive menu trigger -->
    <div id="zn-res-menuwrapper">
      <a href="#" class="zn-res-trigger zn-header-icon"></a>
    </div>
    <!--/ responsive menu trigger -->

    <!-- main menu -->
    <div id="main-menu" class="main-nav zn_mega_wrapper ">
      <ul id="menu-main-menu" class="nav main-menu">
        <li class="active">
          <a href="one-page.html">HOME</a>
        </li>
        <li>
          <a href="#about">ABOUT US</a>
        </li>
        <li>
          <a href="#services">PROCESS</a>
        </li>
        <li>
          <a href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
    <!--/ main menu -->

		<!-- HEADER ACTION -->
		<div class="header-links-container ">
			<ul class="topnav navRight topnav">
				<!-- Support panel trigger -->
				<li>
					<label for="support_p" class="spanel-label">
											<i class="glyphicon glyphicon-info-sign icon-white support-info visible-xs xs-icon"></i>
						<span class="hidden-xs">SUPPORT</span>
					</label>
				</li>
			<!--/ Support panel trigger -->
			</ul>

		</div>
		<!--/ HEADER ACTION -->

    <!-- right side -->
  </div>
  <!--/ siteheader-container -->
</header>
<!-- / Header style 1 -->
